<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.yilvtzj"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="16"
        android:targetSdkVersion="23" />

    <!-- 这个权限用于进行网络定位 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <!-- 这个权限用于访问GPS定位 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <!-- 用于访问wifi网络信息，wifi信息会用于进行网络定位 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <!-- 获取运营商信息，用于支持提供运营商信息相关的接口 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <!-- 这个权限用于获取wifi的获取权限，wifi信息会用来进行网络定位 -->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />

    <!-- 用于读取手机当前的状态 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <!-- 写入扩展存储，向扩展卡写入数据，用于写入离线定位数据 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <!-- 访问网络，网络定位需要上网 -->
    <uses-permission android:name="android.permission.INTERNET" />

    <!-- SD卡读取权限，用户写入离线定位数据 -->
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />

    <!-- 相机 -->
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <!-- 相机 -->
    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="false"
        android:resizeable="true"
        android:smallScreens="true" />

    <instrumentation
        android:name="android.test.InstrumentationTestRunner"
        android:targetPackage="com.yilvtzj" >
    </instrumentation>

    <application
        android:name="com.yilvtzj.app.MyApplication"
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.AppCompat" >

        <!-- 单元测试用 -->
        <uses-library android:name="android.test.runner" />

        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="@string/baiduMapAK" />

        <activity
            android:name="com.yilvtzj.activity.main.WelcomeActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.yilvtzj.activity.main.MainActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar"
            android:windowSoftInputMode="adjustPan" >
        </activity>
        <activity
            android:name="com.yilvtzj.activity.WebViewActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.yilvtzj.activity.dongtai.WriteActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>
        <activity
            android:name="com.yilvtzj.activity.LoginActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.yilvtzj.activity.FullPageImageViewActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity android:name="com.yilvtzj.activity.dongtai.CommentActivity" >
        </activity>
        <activity android:name="com.yilvtzj.activity.dongtai.CommentWriteActivity" >
        </activity>
        <activity android:name="com.yilvtzj.activity.chat.ChatActivity" >
        </activity>
        <activity android:name="com.yilvtzj.activity.friend.SelfInfoActivity" >
        </activity>
        <activity android:name="com.yilvtzj.activity.mine.MyQrActivity" >
        </activity>
        <activity
            android:name="com.yilvtzj.activity.friend.SearchFriendActivity"
            android:windowSoftInputMode="adjustPan" >
        </activity>

        <!-- 相册选取，开始 -->
        <activity
            android:name="com.wq.photo.MediaChoseActivity"
            android:label="@string/title_activity_media_chose" >
        </activity>
        <activity
            android:name="com.wq.photo.CropImageActivity"
            android:label="@string/title_activity_crop_image" >
        </activity>

        <!-- 扫描 -->
        <activity android:name="com.mining.app.zxing.activity.MipcaActivityCapture" >
        </activity>

        <service
            android:name="com.baidu.location.f"
            android:enabled="true"
            android:process=":remote" >
        </service>
        <service
            android:name="com.androidpn.service.NotificationService"
            android:enabled="true"
            android:label="NotificationService" >
            <intent-filter>
                <action android:name="com.androidpn.service.NotificationService" />
            </intent-filter>
        </service>

        <receiver android:name="com.androidpn.receiver.MyReceiver" >
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>
    </application>

</manifest>